*{ 
    margin: 0px;
    padding: 0px;
    border: 0;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E2E1E1;
    height:40px;
}

.icons-nav {
    display: flex;
    justify-content: space-between;
    width: 205px;
    margin-left: 20px;
    
}

.icons-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
   font-size: 14px;
}

.icons-nav a:hover {
   border-bottom: 1px solid black;
}

.img-nav {
    width: 189px;
}

.btn {
    background: rgb(86, 123, 149);
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-right: 20px;
    height: 33px;
   

}

.btn:hover{
    background: #326891;
    cursor: pointer;
}





