*{ 
    margin: 0px;
    padding: 0px;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

/*Start of Global variables*/

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.jc-sb {
    justify-content: space-between;
}

.fixed-position {
    position: fixed;
    background: white;
    z-index: 2;
}

.td-none {
    text-decoration: none;
}

.fw-bold {
    font-weight: bold;
}

.m-a{
    margin: auto;
}

/*End of Global variables*/


.most-hrs {
    border-style: solid;
    border-width: .2px;
}

.lighter-hrs {
    color: #E2E2E2; 
}

.nav-container {
    width: 100%;
    border: 1px solid #E2E1E1;
    top: 0px;
}

.icons-nav {
    /*justify-content: space-between;*/
    width: 230px;
    margin-left: 20px;
}

.anchor-nav a {
    /*text-decoration: none;*/
    color: black;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.anchor-nav a:hover {
    border-bottom: 1px solid black;
}

.left-imgs-nav{
    padding: 5px 7px;
}

.left-imgs-nav img {
    width: 16px;
}

.left-imgs-nav:hover {
    background-color: #F7F7F7;
    border-radius: 3px;
}

.img-nav {
    width: 189px;
    margin: 10px 0;
}

.btn-nav{
    margin-right:15px;
}

.btn {
    background: rgb(86, 123, 149);
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 11px;
    /*font-weight: bold;*/
    border-radius: 4px;
    transition-duration: 0.4s;
    height: 33px;
}

.btn:hover{
    background: #326891;
    cursor: pointer;
}








.main-article-container{
    min-width: 600px;
    max-width: 950px;
    margin: auto;
    /*border: 1px solid black;*/
}

.main-image-container {
    margin: auto;
    margin-top:70px;
    /*display: flex;
    align-items: center;*/
    flex-direction: column;
}

.main-image {
    width: 100%;
    height: auto;
}

.title-container{
    margin-bottom:25px;
}

.title-container h1 {
    font-family: cheltenham;
    font-weight: italic;
    font-size: 40px;
    text-align: left;
}

.text-main-img {
    font-size: 16px;
    line-height: 20px;
    opacity: .6;
    text-align: left;
    margin-top: 10px;
}





.icons-main-container{
    width: 600px;
    margin: auto;
    overflow: auto;
    margin-top: 30px;
}

.icon-title {
    float: left;
}

.icon-container {
    /*display: flex;*/
   /* justify-content: space-between;*/
    align-items: flex-end;
    width: 300px;
    float: right;
    margin-top: 35px;
    
}

.icon-title p {
    margin-top: 30px;
    font-size: 13px;
}

.icon-title a {
    color: #333333;
}

.icon-title a:hover{
    text-decoration: none;
}

.icon-title h5 {
    font-size: 15px;
    display: inline;
}

.f-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-color: #EBEBEB;
    background-color:#EBEBEB;
    padding-top: 5px;
    padding-left: 7px;
    cursor: pointer;
}

   .f-icon:hover {
     background-color: white;
  transition-duration: 0.1s;
  border: 1px solid #EBEBEB;
}

.t-icon {
    width: 25px;
    height: 25px;
   border-radius: 50%;
    border-color:#CCCCCC ;
   background-color:#EBEBEB;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.t-icon:hover {
 background-color: white;
 transition: 0.2s;
}
   

   .e-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
     border-color: #EBEBEB;
     background-color:#EBEBEB;
     padding-top: 5px;
     padding-left: 5px;
     cursor: pointer;
   }

   .e-icon:hover {
  background-color: white;
  transition: 0.2s;
  border-color: #7a7a7a;
}

   .sh-icon {
  width: 25px;
  height: 25px;
    border-radius: 50%;
     border-color: #EBEBEB;
     background-color:#EBEBEB;
     padding-top: 5px;
     padding-left: 5px;
     cursor: pointer;

   }
     .sh-icon:hover {
 background-color: white;
  transition: 0.2s;
   }

.icon-img {
    height: 20px;
    cursor: pointer;
}

.icon-img:hover {
    background-color: white;
    transition: 0.2s;
}

   .com-icon {
  width: 50px;
  cursor: pointer;
}

.com-icon:hover {
     background-color: white;
  transition: 0.2s;
   }










.main-prg  {
    width: 600px;
    margin: auto;
    text-align: left;
}

.main-prg-section-1 {
    margin-top: 30px;
}

.main-prg-section-2 {
    margin-top: 50px;
}

.main-prg p {
line-height: 30px;
    font-size: 20px;
    font-family:"times new roman";
}

.main-prg h4 {
    font-size: 20px;
    font-weight: bold;
}








.aside-section {
    width: 210px;
    position: absolute;
    top: 1900px;
    right: 150px;
}

.aside-section h4 {
    margin-bottom: 10px;
}

.aside-images {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;;
}

.aside-text {
    font-size: 16px;
    line-height: 17px;
    opacity: .7;
}

.aside-images-container {
    display: block;
    overflow: auto;
    margin: 15px 0;
}

.aside-hr {
    opacity: .2;
}






.p-side p{
    margin: 0;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
}

.p-side{
    height: 100px;
    

}

.p-side a {
    font-size: 15px;
    color: #326891;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0;
}

.img-container2 {
    height: 480px;
    width: 600px;
    margin-top: 20px;
}

.tel-img {
    width: 100%;
}

.img-container2 p {
    font-size: 15px;
    line-height: 20px;
    color: #666666;

}

.video-container p {
    font-size: 15px;
    color: #666666;
}




.short-hr {
    width: 75px;
}

.inflation-article {
    width: 945px;
    margin: 20px auto;
}

.grid-container {
    background-image: url('https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 576px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}

.prg-img {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.prg-1 {
    grid-column:1 / 2;
    grid-row: 2 / 3;
}

.prg-2 {
    grid-column:2 / 3;
    grid-row: 2 / 3;
}

.prg-3 {
    grid-column:3 / 4;
    grid-row: 2 / 3;
}

.prg-4 {
    grid-column:4 / 5;
    grid-row: 2 / 3;
}

.prg-5 {
    grid-column:1 / 2;
    grid-row: 4 / 5;
}

.prg-6 {
    grid-column:2 / 3;
    grid-row: 4 / 5;
}

.prg-7 {
    grid-column:3 / 4;
    grid-row: 4 / 5;
}

.prg-8 {
    grid-column:4 / 5;
    grid-row: 4 / 5;
}

.inflation-article footer p{
    margin-top: 20px;
}

h6 {
    font-size: 11px;
    color: #7D7DAD;
    font-weight: 550;
    line-height: 15px;
    font-family: helvetica;
}

h6 a {
     color: #7D7DAD;
}

h6 a:hover {
    text-decoration: none;
}

.comments-container{
    margin: 25px 0;
}

.read-btn {
    background-color: #376A92;
    color: white;
    width: 300px;
    height: 35px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
    border: 1px solid #326891;
    border-radius: 3%
}

.btn-icon {
    width: 150px;
    float: right;
    /*justify-content: space-between;*/
}

.fa-facebook-f-2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #EBEBEB;
    padding-top: 5px;
    padding-left: 7px;
    cursor: pointer;
}

.fa-facebook-f-2:hover {
    background-color: white;
    }


.fa-twitter-2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #EBEBEB;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;

}

.fa-twitter-2:hover {
    background-color: white;
}

.fa-envelope-2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #EBEBEB;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;

}

.fa-envelope-2:hover {
    background-color: white;
}

.fa-share-2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #EBEBEB;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.fa-share-2:hover {
    background-color: white;
}








.final-article-section{
    width: 1200px;
    margin: 65px auto;
    overflow: auto;
}

.final-article {
    float: left;
}

.moreInSpace-grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: 273px 273px 273px;
    grid-template-rows: 39px 288px 288px 39px 288px;
    grid-gap: 15px;
}

.moreInSpace-imgs-container {
    width: 273px;
    height: 288px;
    cursor: pointer;
}

.moreInSpace-imgs {
    width: auto;
    height: 182px;
}

.img-footer {
    font-size: 10px;
    margin: 4px 0;
    opacity: .6;
    text-align: right;
}

.img-title {
    font-size: 17px;
    font-weight: bold;
}

.img-title:hover {
    opacity: .6;
}

.img-date {
    font-size: 10px;
    margin: 4px 0;
    opacity: .6;
    text-align: left;
}




.final-article-header-1{
    grid-column: 1/4;
    grid-row: 1/2;
}

.img-1 {
    grid-column: 1/2; 
    grid-row: 2/3;
}

.img-2 {
    grid-column: 2/3; 
    grid-row: 2/3;
}

.img-3 {
    grid-column: 3/4; 
    grid-row: 2/3;
}

.img-4 {
    grid-column: 1/2; 
    grid-row: 3/4;
}

.img-5 {
    grid-column: 2/3; 
    grid-row: 3/4;
}

.img-6 {
    grid-column: 3/4; 
    grid-row: 3/4;
}

.final-article-header-2{
    grid-column: 1/4;
    grid-row: 4/5;
}

.img-7 {
    grid-column: 1/2; 
    grid-row: 5/6;
}

.img-8 {
    grid-column: 2/3; 
    grid-row: 5/6;
}

.img-9 {
    grid-column: 3/4; 
    grid-row: 5/6;
}





.aside-final-article{
    float: right;
    margin-left: 20px;
}

.aside-final-article-grid-container {
    width: 318px;
}

.final-article-titles {
    font-size: 17px;
    font-weight: bold;
    margin: 15px 0;
}

.aside-final-article-containers {
    cursor: pointer;
}

.aside-final-article-containers hr {
    opacity: .1;
}

.aside-articles-titles {
    font-size: 18px;
    line-height: 17px;
    padding: 18px 0;
}

.aside-articles-titles:hover {
    opacity: .7;
}










.main-footer-container {
    width: 1200px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(6, 197px);
    grid-template-rows: 44px 385px 56px;
}

.doble-hr {
    width: 1200px;
    margin: auto;
    border-top: 4px double;
}

.containers h5 {
    font-weight: bold;
    padding: 5px 0;
}

.news-a-container {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.news-a-container:hover {
    text-decoration: underline;
}

.containers li {
    padding: 3px 0;
} 

.container-h4 {
    grid-column: 1/-1;
    grid-row: 1/2;
    /*justify-content: space-between;*/
}

.container-h4 a {
    font-size: 11px;
    text-decoration: none;
}

.footer-img {
    width:185px;
}

.icons-last-column {
    width: 15px;
    margin-right:10px;
    cursor: pointer;
}

.subscribe-p {
    font-size: 17px;
    font-weight: bolder;
}





.container-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.container-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.container-3 {
    grid-column:3/4;
    grid-row: 2/3;
}

.container-4 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.container-5 {
    grid-column: 5/6;
    grid-row: 2/3;
}

.container-6 {
    grid-column: 6/7;
    grid-row: 2/3;
    border-left: 1px solid rgb(179, 175, 175);
    padding-left: 15px;
}

.last-row-seudo-footer {
    grid-column: 1/7;
    grid-row: 3/4;
    margin-top: 15px;
}

.last-row-seudo-footer li{
    display: inline;
    padding: 0 4px;
}

.last-row-seudo-footer ul{
    text-align: center;
    margin-top: 15px;
}

.last-row-a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    opacity: .7;
}

.last-row-a:hover {
    text-decoration: underline;
    
    cursor: pointer;
}

.small-container {
    font-size: 12px;
    margin-bottom: 10px;
}

.last-li-container {
    margin-top: 10px;
    padding-bottom: 10px;
}






.fotter-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    }

.xxx {
    grid-column:2/3;
    cursor: pointer;
}

.yyy {
    grid-column:3/4;
    cursor: pointer;
    justify-content: center;
}

.yyy p {
   margin-right:30px;
   font-weight: bold;
}