*{ 
    margin: 0px;
    padding: 0px;
    border: 0;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E2E1E1;
    position: sticky;
}

.icons-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-left: 20px;
}

.anchor-nav a {
    text-decoration: none;
    color: black;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.anchor-nav a:hover {
    border-bottom: 1px solid black;
}

.left-imgs-nav{
    padding: 5px 7px;
}

.left-imgs-nav img {
    width: 16px;
}

.left-imgs-nav:hover {
    background-color: #F7F7F7;
    border-radius: 3px;
}

.img-nav {
    width: 189px;
    margin: 10px 0;
}

.btn-nav{
    margin-right:15px;
}

.btn {
    background: rgb(86, 123, 149);
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 4px;
    transition-duration: 0.4s;
    height: 33px;
}

.btn:hover{
    background: #326891;
    cursor: pointer;
}


.main-image-container {
    min-width: 600px;
    max-width: 950px;
    margin: auto;
    margin-top:70px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 100%;
    height: auto;
}

.title-container{
    margin-bottom:25px;
}

.title-container h1 {
    font-family: cheltenham;
    font-weight: italic;
    font-size: 40px;
    text-align: left;
}

.text-main-img {
    font-size: 16px;
    line-height: 20px;
    opacity: .6;
    text-align: left;
    margin-left: 200px;
    margin-top: 10px;
}

.icon-img {
    width:15px;

    border-radius: 50%;
     border-color: #969696;
     background-color:#969696;
     padding-top: 5px;
     padding-left: 5px;
}

.icon-title {
    position: absolute;
   margin-left: 350px;
   margin-top: 50px;
   
}

.icon-title p {
    margin-top: 30px;
    font-size: 13px;

}

.icon-container {
    display: flex;
    float: right;
    margin-right: 350px;
    margin-top: 95px;
    justify-content: space-between;
    width: 300px;
   }

   .f-icon {
     width: 30px;
    border-radius: 50%;
     border-color: #969696;
     background-color:#969696;
     padding-top: 5px;
     padding-left: 5px;
   }

   .e-icon {
    width: 30px;
    border-radius: 50%;
     border-color: #969696;
     background-color:#969696;
     padding-top: 5px;
     padding-left: 5px;
   }

   .sh-icon {
  width: 30px;
    border-radius: 50%;
     border-color: #969696;
     background-color:#969696;
     padding-top: 5px;
     padding-left: 5px;

   }

   .com-icon {
  width: 30px;
    border-radius: 50%;
     border-color: #969696;
     background-color:#969696;
     padding-top: 5px;
     padding-left: 5px;
   }

.t-icon {
     width: 30px;
    border-radius: 50%;
     border-color: #969696;
     background-color:#969696;
     padding-top: 5px;
     padding-left: 5px;
}

article  {
    width: 600px;
    justify-content: center;
    text-align: left;
    margin-top: 200px;
    margin-left: 350px;
}

article p {
line-height: 30px;
    font-size: 20px;
    font-family:"times new roman";


}

article h4 {
    font-size: 20px;
    font-weight: bold;
}

aside {
    width: 30%;
    float: right;
  overflow: auto;
  margin-left: 750px;
  position: absolute;


}


.p-side p{
    margin: 0;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
}

.p-side{
    height: 100px;
    

}
.p-side:after {
      content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 10%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black;
   }

.p-side:before {
      content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 10%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black;
   
}

.p-side a {
    font-size: 15px;
    color: #326891;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0;
}

.img-container2 {
    height: 480px;
    width: 600px;
    margin-top: 20px;
}

.tel-img {
    width: 100%;
}

.img-container2 p {
    font-size: 15px;
    line-height: 20px;
    color: #666666;

}

.video-container p {
    font-size: 15px;
    color: #666666;
}